<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etc.dao.OneLevelDao">
    <resultMap id="BaseResultMap" type="com.etc.entity.OneLevel">
        <id column="onelevelid" jdbcType="INTEGER" property="oneLevelId" />
        <result column="onelevelname" jdbcType="VARCHAR" property="oneLevelName" />
    </resultMap>
    <sql id="Base_Column_List">
    onelevelid, onelevelname
  </sql>
    <!--   查询一级分类下的所有 -->
    <select id="listOneLevel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from onelevel
    </select>
</mapper>