<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.dao.ThreeLevelDao">
  <resultMap id="BaseResultMap" type="com.etc.entity.ThreeLevel">
    <id column="threelevelid" jdbcType="INTEGER" property="threelevelid" />
    <result column="twolevelid" jdbcType="INTEGER" property="twolevelid" />
    <result column="threelevelname" jdbcType="VARCHAR" property="threelevelname" />
  </resultMap>
  <sql id="Base_Column_List">
    threelevelid, twolevelid, threelevelname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from threelevel
    where threelevelid = #{threelevelid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from threelevel
    where threelevelid = #{threelevelid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.etc.entity.ThreeLevel">
    insert into threelevel (threelevelid, twolevelid, threelevelname
      )
    values (#{threelevelid,jdbcType=INTEGER}, #{twolevelid,jdbcType=INTEGER}, #{threelevelname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.etc.entity.ThreeLevel">
    insert into threelevel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="threelevelid != null">
        threelevelid,
      </if>
      <if test="twolevelid != null">
        twolevelid,
      </if>
      <if test="threelevelname != null">
        threelevelname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="threelevelid != null">
        #{threelevelid,jdbcType=INTEGER},
      </if>
      <if test="twolevelid != null">
        #{twolevelid,jdbcType=INTEGER},
      </if>
      <if test="threelevelname != null">
        #{threelevelname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etc.entity.ThreeLevel">
    update threelevel
    <set>
      <if test="twolevelid != null">
        twolevelid = #{twolevelid,jdbcType=INTEGER},
      </if>
      <if test="threelevelname != null">
        threelevelname = #{threelevelname,jdbcType=VARCHAR},
      </if>
    </set>
    where threelevelid = #{threelevelid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etc.entity.ThreeLevel">
    update threelevel
    set twolevelid = #{twolevelid,jdbcType=INTEGER},
      threelevelname = #{threelevelname,jdbcType=VARCHAR}
    where threelevelid = #{threelevelid,jdbcType=INTEGER}
  </update>
</mapper>