<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etc.dao.TwoLevelDao">
    <resultMap id="BaseResultMap" type="com.etc.entity.TwoLevel">
        <id column="twolevelid" jdbcType="INTEGER" property="twolevelid" />
        <id column="onelevelid" jdbcType="INTEGER" property="onelevelid" />
        <result column="twolevelname" jdbcType="VARCHAR" property="twolevelname" />
    </resultMap>
    <sql id="Base_Column_List">
   twolevelid,onelevelid, twolevelname
  </sql>
    <!--   查询一级分类下的所有 -->
    <select id="listTwoLevel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from twolevel
    </select>
    <!--  根据二级id查找对象-->
    <select id="getTwoLevelById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from twolevel t where t.twolevelid= #{twolevelid,jdbcType=INTEGER}
    </select>
</mapper>